{% load static %}
<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="'icon" href="{% static 'favicon.ico' %}"><title>dohamal</title><script defer="defer" src="{% static 'js/chunk-vendors.9689643c.js' %}"></script>
    <script defer="defer" src="{% static 'js/app.322581d2.js' %}"></script><link href="{% static 'css/chunk-vendors.f577c65d.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.3899c398.css' %}" rel="stylesheet"></head><body><noscript><strong>We're sorry but dohamal doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div></body></html>