{% load static %}
<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}"><title>דוחמ"ל</title>
    <script defer="defer" src="{% static 'js/chunk-vendors.fcc80ec6.js' %}">

    </script><script defer="defer" src="{% static 'js/app.cc4549eb.js' %}">

    </script><link href="{% static 'css/chunk-vendors.f37434a0.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.a75feaa8.css' %}" rel="stylesheet">
</head><body><noscript><strong>We're sorry but dohamal-edit-django doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript><div id="app"></div></body></html>